name: Release

on:
  push:
    tags:
      - v*

env:
  CARGO_TERM_COLOR: always

jobs:
  release-linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform:
          - target: aarch64-unknown-linux-gnu
            binary: "tgh-linux-arm64"
          - target: x86_64-unknown-linux-gnu
            binary: "tgh-linux-x64"

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          target: ${{ matrix.platform.target }}

      - name: Setup cross-compilation
        run: cargo install -f cross

      - name: Build
        run: cross build --release --target ${{ matrix.platform.target }}

      - name: Compress binary
        run: tar -czf target/${{ matrix.platform.target }}.tar.gz -C target/${{ matrix.platform.target }}/release tgh

      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: target/${{ matrix.platform.target }}.tar.gz
          asset_name: tgh-${{ matrix.platform.target }}.tar.gz
          tag: ${{ github.ref }}

  release-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Build
        run: cargo build --release

      - name: Compress binary
        run: Compress-Archive -Path target/release/tgh.exe -DestinationPath target/tgh-pc-windows-msvc.zip

      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: target/tgh-pc-windows-msvc.zip
          asset_name: tgh-x86_64-pc-windows-msvc.zip
          tag: ${{ github.ref }}

  release-macos:
    runs-on: macos-latest
    strategy:
      matrix:
        target: [x86_64-apple-darwin, aarch64-apple-darwin]
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          target: ${{ matrix.target }}

      - name: Build
        run: cargo build --release --target ${{ matrix.target }}

      - name: Compress binary
        run: tar -czf target/${{ matrix.target }}.tar.gz -C target/${{ matrix.target }}/release tgh

      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: target/${{ matrix.target }}.tar.gz
          asset_name: tgh-${{ matrix.target }}.tar.gz
          tag: ${{ github.ref }}
